.cadastro {
    width: 60%;
    margin: 0% auto 0;
    background-color: #f2f2f2;
    padding: 2%;
    border-radius: 10px;
}

form {
    width: 50%;
    margin: 0 auto;
}

.botaocadastro {
    background-color: #000;
    color: #000;
    border: #000;
    padding: 2% 8%;
    font-size: 15px;
    border-radius: 9px;
}

.botaocadastro:hover {
    background-color: #302c2c;
    transition: all 0.9s;
    color: #e6dede;
}

#msg{
    height: 3vh;
    font-size: 12px;
    color: red;
    display: flex;
    justify-content: center;
}

.linkcadastro{
    display: block;
    margin-top: 3%;
}

.inputcadastro {
    text-align: center;
}
